# Student Activity: Reading Stocks Data from a CSV

## 1. Import the `pandas` library as `pd` and the `Path` class from `pathlib`

In [7]:
# initial imports
import pandas as pd
from pathlib import Path

## 2. Create a DataFrame by reading in a CSV file

In [8]:
# set the file path
file_path = Path("../shopify_stock_data.csv")

# create a Pandas DataFrame from a csv file
df = pd.read_csv(file_path)

## 3. Explore the data

In [9]:
# get the first 10 rows from the DataFrame
df.head(10)

                 date  close  volume   open   high    low
0  5/21/2015 16:00:00  31.25  211058  35.03  35.03  30.00
1  5/22/2015 16:00:00  34.94  224174  32.32  38.00  32.00
2  5/25/2015 16:00:00  37.26  105460  35.00  37.47  35.00
3  5/26/2015 16:00:00  36.92   75935  37.26  37.69  36.30
4  5/27/2015 16:00:00  34.50  135778  38.00  38.16  33.63
5  5/28/2015 16:00:00  34.00   28756  34.60  34.60  33.14
6  5/29/2015 16:00:00  33.52   15319  33.71  34.11  33.35
7   6/1/2015 16:00:00  33.85    8839  33.73  34.27  33.52
8   6/2/2015 16:00:00  33.13    7318  34.72  34.72  33.13
9   6/3/2015 16:00:00  34.19   29821  33.98  34.26  33.00

## 4. Fix the column names

In [ ]:
# set column names
col_names = ["date", "close", "volume", "open", "high", "low"]

# recreate the DataFrame
df = pd.read_csv(file_path, header = None)

# add column names
df.columns = col_names

## 5. Get the first 10 rows

In [ ]:
# get the first 10 rows from the DataFrame
df.head(10)

## 6. Challenge: Get the bottom 10 rows

In [ ]:
# get the bottom 10 rows from the DataFrame
df.tail(10)